body {
  font-family: "Poppins", sans-serif;
}

.text-blue {
  color: #0065fc;
}

/* Nav Bar */
.navbar {
  padding: 2rem 6.375rem 0;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.625rem;
  margin-bottom: auto;
}

.nav-item {
  padding: 0 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.0625rem;
  text-align: center;
}

.btn-create {
  border-radius: 80px;
  color: white;
  border: 1px solid #0066ff;
  background-color: #0066ff;
  width: 170px;
  height: 50px;
  transition: all 0.4s ease;
}

.btn-create:hover {
  background-color: #0065fc;
}
/* .create-room {
  margin: auto;
} */

/* Main */

.main {
  text-align: center;
  padding: 9rem;
}

.pre-text {
  font-weight: bold;
  font-size: 1.2rem;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4.5rem;
}

.post-text {
  color: #c4c4c4;
  font-size: 1.2rem;
}

.main-img {
  width: 100%;
  height: 100%;
  margin-top: 2.8125rem;
}

/* Features */
.row {
  margin-bottom: 5rem;
}
.feat {
  padding: 0 10rem;
}

.feature {
  text-align: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.feature-middle {
  text-align: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.3125rem;
}

.feature-title {
  margin-top: 1.9375rem;
  margin-bottom: 1.5625rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.description {
  font-size: 1rem;
  text-align: center;
}

.background {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.feat-icon {
  color: #ffffff;
}

.left {
  background-color: #180058;
}
.mid {
  background-color: #00c298;
}
.right {
  background-color: #4400ff;
}

/* Plans */
.plans {
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  padding-top: 4.625rem;
  padding-bottom: 4.625rem;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 50px;
  margin: 30px;
  box-shadow: 6px 6px 4px -6px black;
}
.plan-category {
  font-weight: 600;
  font-size: 1rem;
}

.plan-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 1.7rem;
}

.plan-features {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.plan-feature span {
  font-weight: 600;
  font-size: 0.9rem;
}

.btn-subscribe {
  border-radius: 80px;
  color: #0065fc;
  border: 1px solid #0066ff;
  background: #ffffff;
  width: 170px;
  height: 50px;

  transition: all 0.4s ease;
}

.btn-subscribe:hover {
  color: white;
  background-color: #0065fc;
}

.btn-premium {
  background-color: #0066ff;
  color: #ffffff;
}

.btn-premium:hover {
  background-color: #ffffff;
  color: #0066ff;
}

.plan-feature {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.plan-checkbox {
  width: 35.33px;
  height: 36px;
  background-color: #e2f7f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
}

.plan-checkbox-red {
  width: 35.33px;
  height: 36px;
  background-color: #fff3f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
}

.plan-checkmark-green {
  color: #00b078;
  display: flex;
}

.plan-checkmark-red {
  color: #ff8297;
}
.text-muted {
  font-size: 0.9rem;
  color: #c4c4c4;
  font-weight: 400;
}

/* Footer */
footer {
  /* margin-top: 10rem; */
  background-color: #0066ff;
  text-align: center;
  padding: 1rem;
}

.fab {
  color: #ffffff;
  padding: 1.7rem;
}

.foot-logo1 {
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 200;
}

.foot-logo2 {
  font-weight: 600;
}

.Copyright {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

#contact {
  color: #ffffff;
  font-size: 1rem;
}

/* Responsive Font Size */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }

  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }

  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }

  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }

  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }

  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }

  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
  .feature-middle {
    text-align: center;
    margin-top: 4rem;
  }
  .main {
    padding: 0;
    margin-top: 2.5rem;
  }
}
